<footer class="footer">
    <div>
    {% if meta.email %}
        <p><a href="mailto:{{ meta.email }}">{{ meta.email }}</a></p>
    {% endif %}
    {% if meta.telephone %}
        <p><a href="tel:{{ meta.telephone }}">{{ meta.telephone }}</a></p>
    {% endif %}
    </div>
   <div>
        <h4>Atualizado em: {{ build.timestamp | dateToISO }}</h4>
    </div>
</footer>
