<ol class="postlist" reversed>
{% for post in collections.posts | reverse %}
    
    
    <li>
              <p>
               <time datetime="{{ post.date | dateToFormat('dd-mm-yyyy') }}">
            ({{ post.date | dateToFormat(meta.dateFormat) }})
               </p>
              <h2>
            <a href="{{ post.url | url }}">{{ post.data.title }}</a>
              </h2>

            </li>
{% endfor %}
</ol>



