<ol class="postlist" reversed>
{% for post in collections.posts | reverse %}
    
    
    <li>
              <p>
               <time datetime="{{ post.date | dateToFormat('dd-MM') }}">{{ post.date | dateToFormat(meta.dateFormat) }}
              </p>
              <h3>
                <a href="{{ post.url | url }}">{{ post.data.title }}</a>
              </h3>

            </li>
{% endfor %}
</ol>



