---
layout: base
---
<h1>Histórias que reverberam</h1>
<p>
Ossobuco é um evento, comunidade e conjunto de metodologias que ajudam pessoas comuns a criarem histórias autênticas e impactantes.
</p>
</br>
<h2 class="u-mb1">Episódios</h2>
{% include "postlist.njk" %}
