---
layout: base
---
<h1>Histórias que reverberam</h1>
Ossobuco é um evento, comunidade e conjunto de metodologias que ajudam pessoas comuns a criarem histórias autênticas e impactantes.
<h1 class="u-mb1">Episódios</h1>
{% include "postlist.njk" %}